<div class="app-topstrip text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between" style="background-color: green;">
    <div class="d-none d-sm-flex align-items-center justify-content-between">
        <div class="nav-brand">
            <a class="brand-link" href="/">
                <!-- <div class="brand-logo">
                    <i class="material-icons">account_balance_wallet</i>
                </div> -->
                <div class="brand-text">
                    <span class="brand-primary">LeedsAerospace</span>
                    <span class="brand-secondary">Payment</span>
                </div>
            </a>
        </div>
        
        <!-- User and Company Info -->
        <div class="user-profile">
            <div class="user-info">
                <div class="username">{{username}}</div>
            </div>
            <button class="logout-btn" (click)="logout()">
                <i class="material-icons">logout</i>
                <span class="logout-text">Logout</span>
            </button>
        </div>
    </div>

    <div class="topstrip-right d-flex align-items-center justify-content-center gap-16">
        <!-- <h6 class="text-linear-gradient f-s-14 text-uppercase text-lg-left text-center">Checkout Pro Version</h6> -->

        <div class="topstrip-right-inner d-flex justify-content-center align-items-center gap-10">

            <div class="d-flex justify-content-center align-items-center gap-10">
                <!-- Live Preview -->
                <!-- <button class="live-preview-drop d-flex align-items-center gap-4 text-white f-s-16 p-x-16" mat-button
                    [matMenuTriggerFor]="beforeMenu">
                    <div class="d-flex align-items-center gap-6">
                        Live Preview
                        <i class="iconify icon-20 d-flex" data-icon="solar:alt-arrow-down-linear"></i>
                    </div>
                </button> -->
                <!-- <mat-menu class="p-x-16 p-y-8 rounded-7" #beforeMenu="matMenu" xPosition="before">
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/angular-cat-icon.svg" width="18" alt="angular">
                            Angular Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/vue-cat-icon.svg" width="18" alt="vueJs">
                            VueJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/next-cat-icon.svg" width="18" alt="nextJs">
                            NextJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-nuxtjs-admin-template/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/nuxt-cat-icon.svg" width="18" alt="nuxtJs">
                            NuxtJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-tailwind-admin-template/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/tailwindcss.svg" width="18" alt="tailwind">
                            Tailwind Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/bt-cat-icon.svg" width="20" alt="bootstrap">
                            Bootstrap Version
                        </div>
                    </a>
                </mat-menu> -->

                <!-- Get Pro -->
                <!-- <a mat-button class="get-pro-btn text-white p-x-16"
                    href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376" target="_blank">
                    <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                        <i class="iconify icon-18 d-flex" data-icon="solar:crown-linear"></i>
                        Get Pro
                    </div>
                </a> -->
            </div>

            <!-- Get Pro -->
            <!-- <a mat-button class="all-access-pass-btn text-white p-x-16"
                href="https://www.wrappixel.com/all-access-pass/?ref=376" target="_blank">
                <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                    <i class="iconify icon-18 d-flex" data-icon="solar:bolt-linear"></i>
                    All Access Pass
                </div>
            </a> -->
        </div>
    </div>
</div>