<div class="app-topstrip text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between" style="background-color: green;">
    <div class="d-none d-sm-flex align-items-center justify-content-between">
        <div class="nav-brand">
            <a class="brand-link" href="/">
                <!-- <div class="brand-logo">
                    <i class="material-icons">account_balance_wallet</i>
                </div> -->
                <div class="brand-text">
                    <span class="brand-primary">LeedsAerospace</span>
                    <span class="brand-secondary">Payment</span>
                </div>
            </a>
        </div>
        
        <!-- User and Company Info -->
        <div class="user-profile">
            
            <div class="user-info">
                <div class="username">{{username}}</div>
            </div>
            <button class="logout-btn" (click)="logout()">
                <i class="material-icons">logout</i>
                <span class="logout-text">Logout</span>
            </button>
        </div>
    </div>
</div>