<!-- <app-topstrip></app-topstrip> -->
<mat-sidenav-container class="blue_theme light-theme" autosize autoFocus dir="ltr">
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->
  <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()" class="sidebarNav">
    <div class="flex-layout">
      <app-sidebar (toggleMobileNav)="sidenav.toggle()" [showToggle]="isOver"></app-sidebar>
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          <div class="user-profile">
                <a href="/" class="logodark">
      <img
        src="./assets/images/logos/fintech_logo.png" width="230"
        alt="logo"
      />
    </a>
              <div class="user-info">
                  <div class="username">{{username}}</div>
                  <div class="user-role">{{role}}</div>
              </div>
              <button class="logout-btn" (click)="logout()">
                  <i class="material-icons">logout</i>
                  <span class="logout-text">Logout</span>
              </button>
          </div>
          @for(item of navItems; track item) {
          <app-nav-item [item]="item" (notify)="sidenav.toggle()">
          </app-nav-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
      <div class="p-24">
        <div class="bg-light-secondary d-flex align-items-center gap-4 rounded p-20 m-t-20">
          <div>
            <!-- <h5 class="f-s-16 f-w-600 m-b-8">
              Store <br> 
            </h5> -->
            <a href="https://costsheet.anjalyayurvedics.com/"
              target="_blank" class="d-flex justify-content-center bg-secondary">
                <img
                  src="./assets/images/logos/QB.png"
                  class="align-middle m-2" width="50"
                  alt="logo"
                />
              <!-- Check -->
            </a>
          </div>

        </div>
      </div>
    </div>
  </mat-sidenav>

  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper" #content>

    <main class="pageWrapper maxWidth">

      <!-- ============================================================== -->
      <!-- VerticalHeader -->
      <!-- ============================================================== -->
      <!-- <app-header [showToggle]="!isOver" (toggleMobileNav)="sidenav.toggle()"></app-header> -->

      <div class="m-t-30">
        <!-- ============================================================== -->
        <!-- Outlet -->
        <!-- ============================================================== -->
        <router-outlet></router-outlet>
      </div>
    </main>

    <div class="p-16 p-t-8 p-b-30 text-center">
      Design & Developed by <a class="text-decoration-none" href="https://www.anjalyayurvedics.com/"
        target="_blank">Anjaly Ayurvedics</a>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>