<div class="sidebar-container">
  
  <!-- 1. Top Branding Block -->
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <!-- <a href="/">
        <img src="assets/images/logo.png" alt="AeroAssist Logo" class="app-logo" />
      </a> -->
    </div>

    @if (showToggle) {
      <a href="javascript:void(0)" (click)="toggleMobileNav.emit()" 
         class="mobile-close-btn">
        <mat-icon>close</mat-icon>
      </a>
    }
  </div>

  <!-- 2. Navigation List -->
  <ng-scrollbar class="position-relative" style="height: calc(100vh - 56px)">
    <mat-nav-list class="sidebar-list">
      @for (item of filteredNavItems; track item.displayName || item.route) {
        <app-nav-item [item]="item" (notify)="toggleMobileNav.emit()"></app-nav-item>
      }
    </mat-nav-list>
  </ng-scrollbar>

</div>