/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

// .snackbar-error {
//   color: #fff !important;
//   font-weight: 500;
//   text-align: center;
// }

/* ✅ Center the snackbar in the middle of the screen */
.snackbar-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  animation: fadeInScale 0.3s ease-out;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translate(-50%, -45%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


/* Center Snackbar on screen */
::ng-deep .cdk-overlay-container .mat-mdc-snack-bar-container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
}