html .blue_theme {
  --mat-sys-primary: rgb(0, 2, 150); /* Main green */
  --mat-sys-primary-fixed-dim: rgba(0, 0, 150, 0.15);
  --mat-sys-secondary: rgb(107, 100, 120);
  --mat-sys-secondary-fixed-dim: rgba(106, 100, 120, 0.15);
} 