<div class="reset-password-container">
  <mat-toolbar>
    <p> Reset Password for {{data.username}} </p>
    <mat-icon (click)="onCancelClick()" style="margin-left: auto;">close</mat-icon>
  </mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="email-input">
      <input type="email" formControlName="username" required placeholder="Username">
      <button type="button" class="small-btn" (click)="generateRandomPassword()">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button type="button" class="small-btn" (click)="copyEmpNoAndPassword()" [disabled]="form.invalid">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>

    <div class="email-input">
      <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" formControlName="password"/>
      <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>     
    </div>
    
    @if(form.get('password')?.invalid && form.get('password')?.touched){
      <div class="error">
          Password must be at least 6 characters long.
      </div>
    }

    @if(form.get('password')?.hasError('passwordComplexity') && form.get('password')?.touched) {
      <mat-error class="error">
        Password must include uppercase, lowercase, number, and special character.
      </mat-error>
    }

    <div class="email-input">
      <input type="{{ showConfirmedPassword ? 'text' : 'password' }}" formControlName="confirmPassword" placeholder="Confirm Password" required>
      <mat-icon class="eye-icon" (click)="toggleConfirmedPasswordVisibility()">
        {{ showConfirmedPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon> 
    </div>

    @if(passwordMismatch && form.get('confirmPassword')?.touched){
      <div class="error">
        Passwords do not match.
      </div>
    }
    <button type="submit" [disabled]="form.invalid || passwordMismatch">Reset Password</button>
  </form>
</div>

@if(isLoading) {
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
      <mat-spinner color="warn"></mat-spinner>
  </div>
}